<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css" >
    <title>Culinary Journeys</title>
</head>
<body>
    <nav>
        
        <div class="menu-icon">
           <span class="fas fa-bars"></span>
        </div>
        <div class="logo">
         Culinary Journeys
        </div>
        <div class="nav-items">
           <li><a href="/create_blog">Create blog</a></li>
           <li><a href="/view_blogs">View your blogs</a></li>
        </div>
        <div class="search-icon">
           <span class="fas fa-search"></span>
        </div>
        <div class="cancel-icon">
           <span class="fas fa-times"></span>
        </div>
        <img class="logo_img" src="image/icon.png">
     </nav>
